{{#if (or likedDeals dislikedDeals)}}
  <h3>Liked Deals</h3>
  {{#each likedDeals as |deal|}}
    {{deals-list-item deal=deal}}
  {{/each}}

  <h3>Disliked Deals</h3>
  {{#each dislikedDeals as |deal|}}
    {{deals-list-item deal=deal}}
  {{/each}}
{{else}}
  <h3>Go to the homepage and like your first deal!</h3>
{{/if}}
