<span class="flex justify-center items-center mh1 f2">🔍</span>

{{input
  class="flex-1 bn pv3 z-1 b--purple dark-purple"
  classNameBindings="showSearchResults:br--top"
  type="text"
  value=query
  key-up=didPressKey
  id="search-field"
  autocomplete="off"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="false"
  placeholder="What are you looking for?"
  focus-out=didLoseFocus
  focus-in=didFocusIn
}}
