{{#swipable-list-item-top}}
  {{yield (hash top=(component "blank-template"))}}
{{/swipable-list-item-top}}

{{!-- TODO only render this when it's revealed --}}
<div
  class="swipable-list-item-bottom pl5 w-100 bg-gradient-gray flex justify-around items-center"
>
  <div class="swipable-list-item-actions">
    {{yield (hash actions=(component "blank-template"))}}
  </div>
</div>
