{{#swipable-list-item-top}}
  {{yield (hash top=(component "blank-template"))}}
{{/swipable-list-item-top}}

<div
  class="pl5 w-100 pv4 bg-gradient-secondary flex justify-around items-center"
>
  <h1>{{yield (hash actions=(component "blank-template"))}}</h1>
</div>
