<div
  class="tinder-card-wrapper flex"
>
  <div
    class="tinder-card-inner br3 bg-gradient-silver"
  >
    {{yield}}
    <!-- <div
      role="button"
      class="tinder-card-toggler absolute top-0 bottom-0 left-0 w-50"
      onclick={{action "didLeftTap"}}
    >
    </div>
    <div
      role="button"
      class="tinder-card-toggler absolute top-0 bottom-0 right-0 w-50"
      onclick={{action "didRightTap"}}
    >
    </div> -->
  </div>
</div>
