<div
  class="tinder-card-wrapper flex items-stretch flex-auto flex-column"
>
  <div
    class="tinder-card-inner br3 bg-gradient-silver flex flex-auto flex-column"
  >
    {{yield}}

  </div>
</div>
