<div class="logo flex-none flex">
  {{#link-to
    linkToRouteName
    class="no-underline white flex flex-shrink-0 items-center"
  }}
    <div class="dealzilla-logo mh1 relative">
      <span class="hk-badge purple absolute top-0 right-0 bg-white">{{likedDealCount}}</span>
    </div>
  {{/link-to}}
</div>


{{wikiwiki-search
  items=searchableItems
  class="ph2 justify-center pv2 f4"
  session=session
  signOut=signOut
  signIn=signIn
}}
