.deal-list-item,
.deal-list-item:hover,
.deal-list-item:active,
.deal-list-item:visited,
.deal-list-item:focus {
  outline: 0;
}

.deal-list-item-image {
  // width: 64px;
  // height: 64px;
  width: 100%;
  object-fit: contain;
}

a.deal-list-item {
  color: #4e535a;
}

a.deal-list-item:visited {
  color: #57729a;
}

a.deal-list-item.expired {
  color: silver;
}

.deal-list-item:visited,
.deal-list-item:focus {
  outline: 0;
}
