body > .ember-view {
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
}

.bg--darkest-turqoise {
  background-color: #3bd6c6;
}

.force-height {
  height: calc(100vh - 200px);
}