.highlight-yellow {
  background-color: #FFFF66;
}

.highlight-green {
  background-color: #66FF66;
}

.highlight-pink {
  background-color: #FF6EFF;
}

.highlight-blue {
  background-color: #95E0E8;
}

.highlight-purple {
  background-color: #ACACE6;
  font-weight: bold;
}
