.bg-faded {
  background-color: rgba(0,0,0,0.6);
}
.bg-faded::after {
  content: "";
  opacity: 1;
  background-image: url("https://static-media.fxx.com/img/FX_Networks_-_FXX/632/119/Simpsons_01_04__343617.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
