<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dealzilla.camels</string>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/dealzilla.camels.stdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/dealzilla.camels.stderr</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/jdomino/Documents/projects/dealzilla/scripts/tasks/seed-firebase-from-camelcamelcamel.js</string>
	</array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
  </dict>
	<key>UserName</key>
	<string>jdomino</string>
	<key>GroupName</key>
	<string>everyone</string>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
