.question-card {
  margin-bottom: 32px;
}

.wizard-enter {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.wizard-enter.wizard-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 0.75s;
}
.wizard-leave {
  opacity: 1;
}

.wizard-leave.wizard-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition-duration: 0.75s;
}