.swipable-list-item-animated {
  -webkit-transition: 150ms;
  transition:         150ms;
  transition-timing-function: ease-in-out;
}

.swipable-list-item-is-sliding {
  touch-action: pan-x;
}

.swipable-list-item-top {
  width: 100%;
  z-index: 1;
}

.swipable-list-item-bottom {
  margin-left: -100%;
  z-index: 0;
}

.has-slid-left {
  transform: translate(calc(2.4rem - 100%), 0px);
  box-shadow: 4px 0px 1px 0px rgba(0,0,0,0.15);
}

.has-slid-left::after {
  content: '>';
  margin-right: 1rem;
  color: gray;
}
