.wikiwiki-search input:focus { outline: none; }

.wikiwiki-search-results .thumbnail-parent {
  width: 50px;
}

.wikiwiki-search-results .thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.wikiwiki-search-results ul > li:last-child {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wikiwiki-search.has-focus .search-input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.emojay {
  width: 15px;
}
