.navigation {
  position: -webkit-sticky;
  position: sticky;
  min-height: 60px;
}

.navigation .logo {
  background: transparent;
  backdrop-filter: saturate(130%) brightness(90%);
  -webkit-backdrop-filter: saturate(130%) brightness(90%);
  // width: 75px;
  min-height: 60px;
  background: rgba(0, 0, 0, 0.075);
}
