<div class="tinder-card-wrapper flex h-100 items-center justify-center">
  <div class="tinder-card-inner relative overflow-hidden shadow-5 br3 ma3 w-100 flex flex-column items-center justify-center relative">
    {{yield}}
    <div class="absolute top-0 bottom-0 left-0 w-50" onclick={{action "didLeftTap"}}></div>
    <div class="absolute top-0 bottom-0 right-0 w-50" onclick={{action "didRightTap"}}></div>
  </div>
</div>
