{{x-header
searchableItems=thingsToFilterOn
session=session
signOut=(route-action 'signOut')
signIn=(route-action 'signIn')
}}

<div class="{{justify}} flex flex-column flex-auto">
  {{outlet}}
</div>