<div class="flex flex-column justify-center items-center flex-auto">
  <div class="dealzilla-logo mh1"></div>
  <h1 class="mt2">RAWR!!</h1>
  <h2>visit <a href="https://dealzil.la">https://dealzil.la</a> from your mobile device</h2>
</div>
