<div class="{{justify}} flex flex-column flex-auto relative center">
  <div style='padding-top: 200px; text-align: center;'>
    <div class="dealzilla-logo mh1" style="display: inline-block"></div>
    <h1>To Begin Saving</h1>
    <h2>visit dealzil.la on your mobile web browser</h2>
  </div>
</div>