<div
  class="bg-faded white relative flex flex-column flex-none items-center pv6"
>
  <h1
    class="mt0 mb4"
  >
    <span
      class="db"
    >
      #money
    </span>
    <span
      class="db"
    >
      #cash
    </span>
    <span
      class="db"
    >
      #hoes
    </span>
  </h1>
</div>

{{outlet}}
