<div
  class="bg-faded white relative flex flex-column flex-none items-center pv6"
>
  <h1
    class="mt0 mb4"
  >
    <span
      class="db"
    >
      #health
    </span>
    <span
      class="db"
    >
      #support
    </span>
    <span
      class="db"
    >
      #therapy
    </span>
  </h1>

  <span
    class="ph4 f4 b mw6"
  >
    Need some help there? You know, maybe you folks should come over and hunker in our bunker.
  </span>
  <span>-- Ned Flanders</span>
</div>

<img
  class="w-100 mt1"
  src="/assets/images/1800hugs.jpg"
  alt=""
>
<img
  class="w-100 mt1"
  src="/assets/images/1600nick.gif"
  alt=""
>
<img
  class="w-100 mt1"
  src="/assets/images/jiggle.gif"
  alt=""
>
<img
  class="w-100 mt1"
  src="/assets/images/nick-clinic.jpg"
  alt=""
>

{{outlet}}
