<div class="bg--darkest-turqoise flex flex-column flex-auto ma2 pa2 br2 overflow-hidden relative">
  {{#unless question}}
    {{#each questions as |q|}}
      <div>{{q.value}} -- {{q.answer}}</div>
    {{/each}}
  {{/unless}}

  {{#each questions as |question index| }}
    {{#if (eq index questionIdx)}}
      {{question-card question=question didSelect=(action 'didSelect') next=(action 'next')}}
    {{/if}}
  {{/each}}

  <div class="hk-button--primary pa2 absolute left-0 right-0 bottom-0 mh2 mb2" {{action "next"}}>Next</div>
</div>