<div class="{{justify}} flex flex-column flex-auto">
  <a href="#" class="flex items-center ma1" {{action (route-action "signIn" "google-oauth2-bearer-v2")}}>
    <div class="google-emoji"></div>
    sign in via google
  </a>
  {{outlet}}
</div>
